<% include ./partials/header %>
    
    <div class="container" style="margin-top:50px">
        <div class="jumbotron">
          <h1 class="display-4">Instagram</h1>
          <p class="lead">Share photos, ideas, interests with your friend!</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/photos" role="button">View More</a>
          </p>
        </div>
    </div>

<% include ./partials/footer %>
